.benefits__list {
  padding: 0;

  @include list-reset;
}

@media (min-width: $tablet-width) {
  .benefits__list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
  }
}

@media (min-width: $tablet-width) {
  .benefits__item {
    min-height: 256px;
  }
}

.benefits__item--first,
.benefits__item--second {
  background-color: $color-main;

  .benefits__subtitle,
  .benefits__number,
  .benefits__info {
    color: $text-secondary-color;
  }
}

@media (min-width: $tablet-width) {
  .benefits__item--first,
  .benefits__item--second {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }
}

.benefits__content {
  padding: 35px 20px 25px;
  margin: 0 auto;
  box-sizing: border-box;
}

@media (min-width: $tablet-width) {
  .benefits__content {
    width: 256px;
    padding: 40px 35px 25px;
    margin: 0;
  }
}

@media (min-width: $desktop-width) {
  .benefits__content {
    width: 400px;
    padding: 40px 50px 25px;
  }
}

.benefits__item--first {
  .benefits__snapshot {
    background-image: url("../img/main-city-mobile@1x.jpg");
    background-repeat: no-repeat;
    background-size: cover;

    // @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
    // background-image: url("../img/main-city-mobile@2x.jpg");
    // }
  }
}

@media (min-width: $tablet-width) {
  .benefits__item--first {
    .benefits__snapshot {
      width: 512px;
      background-image: url("../img/main-city-tablet@1x.jpg");

      // @media (min-resolution: $retina-dpi), (min-resolution:$retina-dppx) {
      // background-image: url("../img/main-city-tablet@2x.jpg");
      // }
    }
  }
}

@media (min-width: $desktop-width) {
  .benefits__item--first {
    .benefits__snapshot {
      width: 800px;
      background-image: url("../img/main-city-desktop@1x.jpg");

      // @media (min-resolution: $retina-dpi), (min-resolution:$retina-dppx) {
      // background-image: url("../img/main-city-desktop@2x.jpg");
      // }
    }
  }
}

.benefits__item--second {
  .benefits__snapshot {
    background-image: url("../img/photo-bridge-mobile@1x.jpg");
    background-repeat: no-repeat;
    background-size: cover;

    // @media (min-resolution: $retina-dpi), (min-resolution:$retina-dppx) {
    // background-image: url("../img/photo-bridge-mobile@2x.jpg");
    // }
  }
}

@media (min-width: $tablet-width) {
  .benefits__item--second {
    .benefits__snapshot {
      width: 512px;
      background-image: url("../img/photo-bridge-tablet@1x.jpg");
      order: -1;

      // @media (min-resolution: $retina-dpi), (min-resolution:$retina-dppx) {
      // background-image: url("../img/photo-bridge-tablet@2x.jpg");
      // }
    }
  }
}

@media (min-width: $desktop-width) {
  .benefits__item--second {
    .benefits__snapshot {
      width: 800px;
      background-image: url("../img/photo-bridge-desktop@1x.jpg");

      // @media (min-resolution: $retina-dpi), (min-resolution:$retina-dppx) {
      // background-image: url("../img/photo-bridge-desktop@2x.jpg");
      // }
    }
  }
}

.benefits__item--gray {
  background-color: $color-main-second;

  .benefits__content {
    margin: 0 20px;
    padding: 40px 0 25px;
    border-bottom: 1px solid #d6d6d6;
  }
}

@media (min-width: $tablet-width) {
  .benefits__item--gray {
    .benefits__content {
      margin: 0;
      padding-left: 40px;
      padding-right: 40px;
      border-bottom: none;
    }
  }
}

.benefits__item--gray:last-child {
  .benefits__content {
    border-bottom: 0;
  }
}

.benefits__subtitle {
  padding: 0;
  padding-bottom: 15px;
  margin: 0 auto;

  @include text-heading;
  color: $text-heading-color;
  text-align: center;
}

@media (min-width: $tablet-width) {
  .benefits__subtitle {
    width: 150px;

    @include text-heading-tablet;
  }
}

.benefits__number,
.benefits__info {
  padding: 0;
  padding-bottom: 15px;
  margin: 0;
  text-align: center;

  @include text-content-tablet;
}
