.checkbox-group {
  @include list-reset;

  padding: 0;
}

@media (min-width: $tablet-width) {
  .checkbox-group {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 0;
  }
}
