.checkbox-group {
  @include list-reset;
  padding: 0;

  @media (min-width: $tablet-width) {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 30px 75px;
  }

  @media (min-width: $desktop-width) {
    padding: 0 0 25px 0;
  }
}
