.checkbox-group {
  @include list-reset;
  padding: 0;

  @media (min-width: $tablet-width) {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 11px 64px 15px;
    margin-bottom: 40px;
  }

  @media (min-width: $desktop-width) {
    padding: 10px 0 42px;
    margin-bottom: 0;
  }
}
