.checkbox-field {
  width: 280px;
  padding-top: 20px;
}

@media (min-width: $tablet-width) {
  .checkbox-field {
    width: 50%;
    margin: 0;
    padding-left: 25px;
    box-sizing: border-box;
  }

}

@media (min-width: $desktop-width) {
  .checkbox-field {
    width: 25%;
    padding: 0;
  }

}

// 1-Скрываем настоящий чекбокс
.checkbox-field__input {
  position: absolute;
  z-index: -1;
  opacity: 0;
}

.checkbox-field__label {
  position: relative;
  display: block;
  padding: 15px 0 15px 80px;
  @include text-heading;
  color: $text-heading-color;
  text-transform: none;
}

@media (min-width: $tablet-width) {
  .checkbox-field__label {
    padding-left: 80px;
  }

}

.checkbox-field__label::before {
  content: "";
  position: absolute;
  width: 55px;
  height: 55px;
  top: 0;
  left: 0;
  border-radius: 5px;
  background: $color-secondary;
}

// 3 Делаем значок чека галку
.checkbox-field__label::after {
  content: "";
  position: absolute;
  top: center;
  left: 0;
  margin-left: 17px;
  width: 20px;
  height: 14px;
  border-bottom: 5px solid $text-primary-color;
  border-left: 5px solid $text-primary-color;
  transform: rotate(-45deg);
}

// 4 Делаем состояние псевдочекбокса в покое и чека(галки) НЕЧЕКНУТОГО и без наведения на лейбл- он спрятан,то есть просто смотрим на страницу и не трогаем
.checkbox-field__input + .checkbox-field__label::before {
  background-color: $color-secondary;
}

.checkbox-field__input + .checkbox-field__label::after {
  content: none;
}

// 5 Делаем состояние наведении  на лейбл (или псевдоинпут(квадрат)),но НЕЧЕКНУТОГО
.checkbox-field__input:hover + .checkbox-field__label::before {
  background-color: $color-secondary-hover;
}

.checkbox-field__input:hover + .checkbox-field__label::after {
  content: "";
}

// 6 Делаем состояние активности  на лейбл (или псевдоинпут(квадрат)),но c ЧЕКНУТОтым маленььким
.checkbox-field__input:active + .checkbox-field__label::before {
  background-color: $color-secondary-active;
}

.checkbox-field__input:checked + .checkbox-field__label:after {
  content: "";
  border-bottom: 5px solid #a8a8a8;
  border-left: 5px solid #a8a8a8;
}
