.checkbox-field {
  width: 280px;
  padding-top: 20px;
}

@media (min-width: $tablet-width) {
  .checkbox-field {
    width: 50%;
    margin: 0;
    padding: 0 0 0 10px;
    box-sizing: border-box;
  }
}

@media (min-width: $desktop-width) {
  .checkbox-field {
    width: 25%;
  }
}

.checkbox-field__input {
  position: absolute;
  z-index: -1;
  opacity: 0;
}

.checkbox-field__label {
  position: relative;
  display: block;
  padding: 15px 0 15px 80px;

  @include text-heading;
  color: $text-heading-color;
  text-transform: none;
}

@media (min-width: $tablet-width) {
  .checkbox-field__label {
    padding: 30px 0 30px 75px;
  }
}

.checkbox-field__label::before {
  content: "";
  position: absolute;
  width: 48px;
  height: 48px;
  top: 0;
  bottom: 0;
  left: 0;
  margin: auto;
  border-radius: 5px;
  background: $color-secondary;
}

.checkbox-field__label::after {
  content: "";
  position: absolute;
  left: 0;
  margin-left: 14px;
  width: 19px;
  height: 13px;
}

.checkbox-field__input + .checkbox-field__label::before {
  background-color: $color-secondary;
}

.checkbox-field__input + .checkbox-field__label::after {
  content: none;
}

.checkbox-field__input:hover + .checkbox-field__label::before {
  background-color: $color-secondary-hover;
}

.checkbox-field__input:active + .checkbox-field__label::before {
  background-color: $color-secondary-active;
}

.checkbox-field__input:focus + .checkbox-field__label::before {
  outline: 2px solid #a4a4a4;
}

.checkbox-field__input:checked + .checkbox-field__label::after {
  content: "";
  border-bottom: 4px solid $text-primary-color;
  border-left: 4px solid $text-primary-color;
  transform: rotate(-45deg);
}

.checkbox-field__input:active + .checkbox-field__label::after {
  opacity: 0.3;
}
