.contact-group {
  position: relative;
  padding: 0;

  @include list-reset;

  @media (min-width: $tablet-width) {
    width: 100%;
  }

  @media (min-width: $desktop-width) {
    display: flex;
    justify-content: space-between;
    padding: 45px 0;
  }
}

.contact-group__wrap {
  margin: 0 auto;
  padding-bottom: 15px;

  @media (min-width: $tablet-width) {
    width: 100%;
  }

  @media (min-width: $desktop-width) {
    display: flex;
    justify-content: space-between;
    width: auto;
    padding-bottom: 0;
    align-items: center;

    &:first-child {
      padding-right: 75px;
      box-sizing: border-box;
    }
  }
}

.contact-group__label {
  position: relative;
  display: block;
  padding: 0 20px 10px;

  @include text-label;

  @media (min-width: $tablet-width) {
    padding-left: 20px;
  }

  @media (min-width: $desktop-width) {
    padding: 0;
  }
}

@media (min-width: $desktop-width) {
  .contact-group__span {
    display: none;
  }
}

.contact-group__input-wrap {
  display: flex;
  justify-content: space-between;
  width: 280px;

  @media (min-width: $tablet-width) {
    margin-left: 10px;
    width: 100%;
  }

  @media (min-width: $desktop-width) {
    width: 315px;
  }
}

.contact-group__input {
  width: 207px;
  padding: 0 0 0 15px;
  background: $color-secondary;
  border: none;
  outline: none;

  @include text-heading;
  color: $text-heading-color;
  text-transform: none;

  &:active,
  &:focus {
    background-color: $color-background;
    border: 4px solid $color-secondary-hover;
    padding: 12px 16px;
  }
}

.contact-group__input::-webkit-input-placeholder {
  color: $text-heading-color;
}

@media (min-width: $tablet-width) {
  .contact-group__input {
    flex-grow: 1;
    padding: 15px 20px;
    box-sizing: border-box;
  }
}

.contact-group__image {
  top: 0;
  width: 58px;
  height: 58px;
  background-color: #e6e6e6;
  background-position: 50% 50%;
  background-repeat: no-repeat;
}

.contact-group__image--tel {
  background-image: url("../img/icon-phone.svg");
}

.contact-group__image--mail {
  background-image: url("../img/icon-mail.svg");
}
