.copyright {
  display: flex;
  align-items: center;
  margin: 36px 0 0 0;
}

.copyright__text {
  margin: 0;
  padding-right: 10px;

  @include text-label;

  color: $text-heading-color;
}

.copyright__link {
  display: block;
  color: $text-heading-color;

  &:hover {
    color: $color-main-hover;
  }

  &:active {
    color: #b2b2b2;
  }
}
