.copyright {
  display: flex;
  align-items: center;
  margin: 41px 0 0 0;

  @media (min-width: $tablet-width) {
    margin: 0;
  }
}

.copyright__text {
  margin: 0;
  padding-right: 10px;

  @include text-label;

  color: $text-heading-color;
}

.copyright__link {
  display: block;
  color: $text-heading-color;

  &:hover .copyright__icon-path {
    fill: $color-main-hover;
  }

  &:active .copyright__icon-path {
    fill: #b2b2b2;
  }
}
