.feedback-form {
  margin: 0;
  padding: 0;
  border-top: 1px solid $color-secondary-active;
}

@media (min-width: $tablet-width) {
  .feedback-form {
    border-top: 0;
  }
}

@media (min-width: $tablet-width) {
  .feedback-form {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 0 60px;
    border-top: 0 none;
  }
}

@media (min-width: $desktop-width) {
  .feedback-form {
    padding: 0 120px;
  }
}

.feedback-form__item {
  display: block;
  box-sizing: border-box;
  margin: 0;
  padding: 0 20px 0;
  border: 0;
  border-bottom: 1px solid $color-secondary-active;
}

@media (min-width: $tablet-width) {
  .feedback-form__item {
    width: 1080px;
    padding: 0 20px;
    border: 0;
    border-top: 1px solid $color-secondary-active;
  }
}

@media (min-width: $tablet-width) {
  .feedback-form__item:nth-child(1),
  .feedback-form__item:nth-child(3) {
    width: 320px;
    border-top: 0;
  }
}

@media (min-width: $tablet-width) {
  .feedback-form__item:nth-child(3) {
    order: -3;
    padding-right: 40px;
    border-right: 1px solid $color-secondary-active;
  }
}

@media (min-width: $tablet-width) {
  .feedback-form__item:nth-child(1) {
    padding-left: 55px;
    padding-bottom: 10px;
  }
}

@media (min-width: $desktop-width) {
  width: 960px;
}

@media (min-width: $desktop-width) {
  .feedback-form__item:nth-child(1),
  .feedback-form__item:nth-child(3) {
    width: 480px;
    border-top: 0 none;
  }
}

.feedback-form__heading {
  padding: 20px;

  @include text-heading;
  color: $text-heading-color;
  text-align: center;
}

@media (min-width: $tablet-width) {
  .feedback-form__heading {
    padding-bottom: 55px;

    @include text-heading-tablet;
  }
}

@media (min-width: $tablet-width) {
  .feedback-form__item:nth-child(1),
  .feedback-form__item:nth-child(3) {
    .feedback-form__heading {
      padding: 20px 0 30px;
      text-align: start;
    }
  }
}

@media (min-width: $desktop-width) {
  .feedback-form__item:nth-child(3) {
    .feedback-form__heading {
      padding-left: 75px;
    }
  }
}

.feedback-form__item--auxiliary {
  border-bottom: 0;
}

.feedback-form__comment {
  display: block;
  width: 100%;
  padding: 15px;
  box-sizing: border-box;

  @include text-heading;
  text-transform: none;
  border: none;
  outline: none;
  background: $color-secondary;
}

@media (min-width: $tablet-width) {
  .feedback-form__comment {
    margin: 26px 0 0;
  }
}

.feedback-form__button-wrapp {
  margin: 50px 0;
  padding: 0;
}

@media (min-width: $tablet-width) {
  .feedback-form__button-wrapp {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin: 58px 0;
  }
}

.feedback-form__button {
  display: block;
  width: 280px;
  padding: 16px 0;
  margin: 0 auto;

  @include text-heading-tablet;
  color: $text-secondary-color;
}

@media (min-width: $tablet-width) {
  .feedback-form__button {
    width: 50%;
    margin: 0;
  }
}

.feedback-form__correction {
  display: none;
}

@media (min-width: $tablet-width) {
  .feedback-form__correction {
    @include text-label;
    display: block;
  }
}
