.feedback-form {
  position: relative;
  margin: 0;
  padding: 0 20px;
  border-top: 1px solid $color-secondary-active;

  @media (min-width: $tablet-width) {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 25px 60px 0;
    border-top: 0 none;
  }

  @media (min-width: $desktop-width) {
    padding: 0 120px;
  }
}

.feedback-form__item {
  display: block;
  box-sizing: border-box;
  margin: 0;
  padding: 0 0 3px;
  border: 0;
  position: relative;

  &::after {
    content: "";
    height: 1px;
    width: 320px;
    background: #d5d5d5;
    display: block;
    bottom: 0;
    left: -20px;
    right: 0;
    position: absolute;
  }

  @media (min-width: $tablet-width) {
    width: 648px;
    padding: 0;
    border: 0;
    border-top: 1px solid $color-secondary-active;

    &::after {
      display: none;
    }
  }

  @media (min-width: $desktop-width) {
    width: 960px;
  }
}

@media (min-width: $tablet-width) {
  .feedback-form__item:nth-child(1),
  .feedback-form__item:nth-child(3) {
    width: 50%;
    border-top: 0;
  }
}

@media (min-width: $desktop-width) {
  .feedback-form__item:nth-child(1),
  .feedback-form__item:nth-child(3) {
    border-top: 0 none;
  }
}

@media (min-width: $tablet-width) {
  .feedback-form__item:nth-child(3) {
    order: -3;
    padding-right: 40px;
    border-right: 1px solid $color-secondary-active;
  }
}

@media (min-width: $tablet-width) {
  .feedback-form__item:nth-child(1) {
    padding-left: 55px;
  }
}

@media (min-width: $desktop-width) {
  .feedback-form__item:nth-child(1) {
    padding-left: 80px;
  }
}

.feedback-form__heading {
  padding: 20px;

  @include text-heading;
  color: $text-heading-color;
  text-align: center;
  margin: 0 auto;

  @media (min-width: $tablet-width) {
    @include text-heading-tablet;
  }
}

@media (min-width: $tablet-width) {
  .feedback-form__item:nth-child(1) .feedback-form__heading,
  .feedback-form__item:nth-child(3) .feedback-form__heading {
    padding: 20px 0;
    text-align: start;
    margin: 0;
  }
}

@media (min-width: $desktop-width) {
  .feedback-form__item:nth-child(3) .feedback-form__heading {
    padding-left: 80px;
  }
}

.feedback-form__item--noborder {
  &::after {
    display: none;
  }
}

.feedback-form__comment {
  display: block;
  width: 100%;
  box-sizing: border-box;
  padding: 15px;

  &::-webkit-input-placeholder {
    color: #000000;
  }

  &:-moz-placeholder {
    color: #000000;
  }

  @include text-heading;
  color: $text-heading-color;
  text-transform: none;
  border: none;
  outline: none;
  background: $color-secondary;

  @media (min-width: $tablet-width) {
    margin: 35px 0 0;
  }

  &:focus {
    outline: 2px solid #a4a4a4;
  }
}

.feedback-form__button-wrapp {
  margin: 45px 0 40px;
  padding: 0;

  @media (min-width: $tablet-width) {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin: 58px 0;
  }
}

.feedback-form__button {
  display: block;
  width: 280px;
  padding: 16px 0;
  margin: 0 auto;

  @include text-heading-tablet;
  color: $text-secondary-color;

  @media (min-width: $tablet-width) {
    width: 50%;
    margin: 0;
  }
}

.feedback-form__correction {
  display: none;

  @media (min-width: $tablet-width) {
    display: block;

    @include text-label;
  }
}
