.find-hotel {
  min-width: 320px;
  min-height: 285px;
  box-sizing: border-box;
  padding: 33px 20px 40px;
  text-align: center;

  @media (min-width: $tablet-width) {
    min-height: 320px;
    padding: 55px 20px;
  }

  @media (min-width: $desktop-width) {
    padding: 55px 20px 65px;
  }
}

.find-hotel__content {
  width: 265px;
  margin: 0 auto;

  @media (min-width: $tablet-width) {
    width: 435px;
  }
}

.find-hotel__heading {
  margin: 0;
  padding-bottom: 22px;

  @include text-heading-tablet;
  color: $text-heading-color;

  @media (min-width: $tablet-width) {
    display: block;
    font-size: 25px;
    padding-bottom: 35px;
  }
}

.find-hotel__subheading {
  margin: 0;
  padding-bottom: 25px;
  text-align: center;

  @include text-content;

  @media (min-width: $tablet-width) {
    padding-bottom: 45px;
  }
}

.find-hotel__btn {
  display: block;
  margin: 0 auto;
  padding: 15px 35px;
  box-sizing: border-box;
  background-color: $color-main;

  @include text-heading-tablet;

  color: $text-secondary-color;
  text-decoration: none;


  &:hover {
    background-color: $color-main-hover;
  }

  &:active {
    color: $text-active-color;
    background-color: $color-main-active;
  }

  &:disabled {
    background-color: $color-secondary-hover;
  }
}

@media (min-width: $tablet-width) {
  .find-hotel__btn {
    width: 458px;
  }
}
