.footer {
  display: flex;
  flex-direction: column;
  min-width: 320px;
  height: 233px;
  padding: 50px 0 0px;
  box-sizing: border-box;
  align-items: center;
  justify-content: space-between;

  @media (min-width: $tablet-width) {
    flex-direction: row;
    justify-content: space-between;
    height: 120px;
    padding: 35px 60px 35px;
  }

  @media (min-width: $desktop-width) {
    padding: 35px 115px 35px;
  }
}

.page--main .footer {
  padding: 35px 0 20px;
}

.footer__hashtag {
  @include text-heading-tablet;

  @media (min-width: $tablet-width) {
    padding-bottom: 0;
  }
}
