.like {
  position: relative;
}

.like__btn {
  width: 23px;
  height: 21px;
  background-image: url("../img/icon-like.svg");
  background-repeat: no-repeat;
  background-color: transparent;
  padding-left: 40px;
  border: none;
  outline: none;
}

@media (min-width: $tablet-width) {
  .like__btn {
    position: absolute;
    right: 0;
    bottom: 0;
    margin-bottom: 15px;
    width: 65px;
  }
}

@media (min-width: $desktop-width) {
  .like__btn {
    color: $text-secondary-color;
  }
}

.like__number {
  @include text-content;

  font-weight: bold;
}
