.like {
  position: relative;
}

.like__btn {
  width: 23px;
  height: 21px;
  background-image: url("../img/icon-like.svg");
  background-repeat: no-repeat;
  background-color: transparent;
  padding-left: 35px;
  border: none;
  outline: none;
  cursor: pointer;

  @media (min-width: $tablet-width) {
    position: absolute;
    right: 0;
    bottom: 0;
    margin-bottom: 15px;
    width: 65px;
  }

  @media (min-width: $desktop-width) {
    background-image: url("../img/icon-like-desktop.svg");
  }

  &:focus {
    opacity: 0.6;
  }
}

.like__number {
  @include text-content;
  font-weight: bold;

  @media (min-width: $desktop-width) {
    color: $text-secondary-color;
  }
}
