.logo {
  z-index: 100;
}

.logo__link {
  height: auto;
}

.logo__img {
  width: 102px;
  height: 84px;
}

@media (min-width: $desktop-width) {
  .logo__img {
    width: 187px;
    height: 97px;
  }
}
