.more-list {
  background-color: $color-background;
  margin: 0;
  padding: 0;
  width: 100%;
}

.more-list__wrapp {
  display: block;
  padding: 20px 0;
  text-align: start;
  margin: 0;

  @include list-reset;

  @media (min-width: $tablet-width) {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
    text-align: center;
    padding: 0;

    @include list-reset;
  }
}

.more-list__item {
  position: relative;
  padding: 15px 40px 15px 70px;
  box-sizing: border-box;

  @media (min-width: $tablet-width) {
    width: 256px;
    min-height: 330px;
    padding: 160px 15px 10px;
  }
}

@media (min-width: $desktop-width) {
  .more-list__item {
    width: 400px;
  }
}

.more-list__content {
  width: 220px;
  margin: 0 auto;
  padding: 0;
  box-sizing: border-box;
}

.more-list__advantage {
  margin: 0 auto;
  padding: 0;
  padding-bottom: 8px;

  @include text-heading;
  color: $text-heading-color;

  @media (min-width: $tablet-width) {
    @include text-heading-tablet;
    padding-bottom: 20px;
  }
}

.more-list__info {
  margin: 0;
  padding-bottom: 5px;

  @include text-content-tablet;

  @media (min-width: $tablet-width) {
    padding-bottom: 5px;

    @include text-content-tablet;
  }
}

.more-list__item--icon1::before {
  display: block;
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  margin-top: 15px;
  margin-left: 15px;
  width: 39px;
  height: 37px;
  background-image: url("../img/icon-house.svg");
  background-repeat: no-repeat;
  background-size: cover;
}

@media (min-width: $tablet-width) {
  .more-list__item--icon1 {
    order: 1;

    &::before {
      content: "";
      position: absolute;
      top: 0;
      left: 50%;
      margin-left: -38px;
      margin-top: 61px;
      width: 75px;
      height: 72px;
      background-image: url("../img/icon-house.svg");
    }
  }
}

.more-list__item--icon2::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  margin-top: 15px;
  margin-left: 15px;
  width: 32px;
  height: 38px;
  background-image: url("../img/icon-gift.svg");
  background-repeat: no-repeat;
  background-size: cover;
}

@media (min-width: $tablet-width) {
  .more-list__item--icon2 {
    order: 3;

    &::before {
      content: "";
      position: absolute;
      top: 0;
      left: 50%;
      margin-left: -32px;
      margin-top: 60px;
      width: 64px;
      height: 75px;
      background-image: url("../img/icon-gift.svg");
    }
  }
}

.more-list__item--icon3::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  margin-top: 15px;
  margin-left: 15px;
  width: 40px;
  height: 35px;
  background-image: url("../img/icon-burger.svg");
  background-repeat: no-repeat;
  background-size: cover;
}

@media (min-width: $tablet-width) {
  .more-list__item--icon3 {
    order: 2;

    &::before {
      content: "";
      position: absolute;
      top: 0;
      left: 50%;
      margin-left: -38px;
      margin-top: 60px;
      width: 76px;
      height: 68px;
      background-image: url("../img/icon-burger.svg");
    }
  }
}
