.more-list {
  background-color: $color-background;
}

.more-list__wrapp {
  display: block;
  padding: 20px 0;
  text-align: start;

  @include list-reset;
}

@media (min-width: $tablet-width) {
  .more-list__wrapp {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    text-align: center;
    padding: 0;

    @include list-reset;
  }
}

.more-list__item {
  position: relative;
  padding: 20px 40px 20px 70px;
  box-sizing: border-box;
}

@media (min-width: $tablet-width) {
  .more-list__item {
    padding: 160px 45px 65px;
  }
}

@media (min-width: $desktop-width) {
  .more-list__item {
    padding: 160px 70px 85px;
  }
}

.more-list__content {
  margin: 0;
  box-sizing: border-box;
}

@media (min-width: $tablet-width) {
  .more-list__content {
    max-width: 168px;
  }
}

@media (min-width: $desktop-width) {
  .more-list__content {
    max-width: 295px;
  }
}

@media (min-width: $tablet-width) {
  .more-list__advantage {
    margin: 0;
    padding-bottom: 8px;

    @include text-heading-tablet;
  }
}

.more-list__info {
  margin: 0;
  padding-bottom: 5px;

  @include text-content-tablet;
}

@media (min-width: $tablet-width) {
  .more-list__info {
    margin: 0;
    padding-bottom: 5px;

    @include text-content-tablet;
  }
}

.more-list__item--icon1::before {
  display: block;
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  margin-top: 35px;
  margin-left: 20px;
  width: 39px;
  height: 38px;
  background-image: url("../img/icon-house.svg");
  background-repeat: no-repeat;
  background-size: cover;
}

@media (min-width: $tablet-width) {
  .more-list__item--icon1::before {
    content: "";
    position: absolute;
    top: 61px;
    left: 50%;
    margin-left: -38px;
    margin-top: 0;
    width: 75px;
    height: 72px;
    background-image: url("../img/icon-house.svg");
  }
}

.more-list__item--icon2::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  margin-top: 35px;
  margin-left: 20px;
  width: 32px;
  height: 38px;
  background-image: url("../img/icon-gift.svg");
  background-repeat: no-repeat;
  background-size: cover;
}

@media (min-width: $tablet-width) {
  .more-list__item--icon2::before {
    content: "";
    position: absolute;
    top: 60px;
    left: 50%;
    margin-left: -32px;
    margin-top: 0;
    width: 64px;
    height: 75px;
    background-image: url("../img/icon-gift.svg");
  }
}

.more-list__item--icon3::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  margin-top: 35px;
  margin-left: 20px;
  width: 40px;
  height: 36px;
  background-image: url("../img/icon-burger.svg");
  background-repeat: no-repeat;
  background-size: cover;
}

@media (min-width: $tablet-width) {
  .more-list__item--icon3::before {
    content: "";
    position: absolute;
    top: 55px;
    left: 50%;
    margin-left: -38px;
    margin-top: 0;
    width: 77px;
    height: 68px;
    background-image: url("../img/icon-burger.svg");
  }
}
