.more-list {
  background-color: $color-background;
  margin: 0;
  padding: 25px 0 19px;
  width: 100%;

  @media (min-width: $tablet-width) {
    padding: 0;
  }
}

.more-list__wrapp {
  display: grid;
  grid-template-rows: min-content min-content min-content;
  row-gap: 0;
  text-align: start;
  margin: 0;

  @include list-reset;

  @media (min-width: $tablet-width) {
    grid-template-columns: 1fr 1fr 1fr;
    row-gap: 0;
    text-align: center;
    padding: 0;

    @include list-reset;
  }
}

.more-list__item {
  position: relative;
  padding: 10px 40px 10px 70px;
  box-sizing: border-box;

  @media (min-width: $tablet-width) {
    width: 256px;
    min-height: 330px;
    padding: 160px 15px 10px;
  }
}

@media (min-width: $desktop-width) {
  .more-list__item {
    width: 400px;
  }
}

.more-list__content {
  width: 220px;
  margin: 0 auto;
  padding: 0;
  box-sizing: border-box;
}

.more-list__advantage {
  margin: 0 auto;
  padding: 0;
  padding-bottom: 17px;

  @include text-heading;
  color: $text-heading-color;

  @media (min-width: $tablet-width) {
    @include text-heading-tablet;
    padding-bottom: 20px;
  }
}

.more-list__info {
  margin: 0;
  padding-bottom: 5px;

  @include text-content-tablet;

  @media (min-width: $tablet-width) {
    @include text-content-tablet;
  }
}

.more-list__item--icon-house::before {
  display: block;
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  margin-left: 20px;
  width: 39px;
  height: 38px;
  background-image: url("../img/icon-house.svg");
  background-repeat: no-repeat;
  background-size: contain;
}

@media (min-width: $tablet-width) {
  .more-list__item--icon-house {
    order: 1;

    &::before {
      left: 50%;
      margin-left: -38px;
      margin-top: 61px;
      width: 75px;
      height: 72px;
    }
  }
}

.more-list__item--icon-gift::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  margin-left: 20px;
  width: 32px;
  height: 38px;
  background-image: url("../img/icon-gift.svg");
  background-repeat: no-repeat;
  background-size: contain;
}

@media (min-width: $tablet-width) {
  .more-list__item--icon-gift {
    order: 3;

    &::before {
      left: 50%;
      margin-left: -32px;
      margin-top: 60px;
      width: 64px;
      height: 76px;
    }
  }
}

.more-list__item--icon-burger::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  margin-top: 5px;
  margin-left: 15px;
  width: 41px;
  height: 38px;
  background-image: url("../img/icon-burger.svg");
  background-repeat: no-repeat;
  background-size: contain;
}

@media (min-width: $tablet-width) {
  .more-list__item--icon-burger {
    order: 2;

    &::before {
      left: 50%;
      margin-left: -38px;
      margin-top: 60px;
      width: 76px;
      height: 68px;
    }
  }
}
