.page {
  @include text-content;
}

.page__intro {
  position: relative;
  width: 320px;
  box-sizing: border-box;
  padding: 32px 20px 32px;
  margin: 0;
  text-align: center;

  @media (min-width: $tablet-width) {
    width: 530px;
    margin: 0 auto;
    padding: 65px 10px 45px;

    &::after {
      display: none;
    }
  }
}

.page--main .page__intro {
  @include text-label;
  padding: 33px 20px 51px;

  &::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 100;
    border-style: solid;
    border-width: 18px 160px 0 160px;
    border-color: #ffffff #81b3d2 #81b3d2 #81b3d2;
  }

  @media (min-width: $tablet-width) {
    padding: 43px 20px 51px;
  }

  @media (min-width: $desktop-width) {
    padding: 55px 20px 42px;
  }
}

.page--form .page__intro {
  padding: 35px 20px 18px;

  @media (min-width: $tablet-width) {
    padding: 62px 47px 45px;
  }

  @media (min-width: $desktop-width) {
    padding: 78px 47px 39px;
  }
}

.page__heading {
  margin: 0 auto;
  padding-bottom: 25px;

  @include text-heading;
  color: $text-heading-color;

  @media (min-width: $tablet-width) {
    padding-bottom: 31px;
    font-size: 30px;
    line-height: 26px;
  }

  @media (min-width: $desktop-width) {
    padding-bottom: 33px;
  }
}

@media (min-width: $tablet-width) {
  .page--main {
    .page__heading {
      @include text-heading-tablet;
    }
  }
}

.page__subheading {
  margin: 0;
  padding: 3px 0 0 0;

  @media (min-width: $tablet-width) {
    padding: 0;
  }
}
