.page {
  @include text-content;
}

.page__intro {
  position: relative;
  width: 320px;
  box-sizing: border-box;
  padding: 40px 20px 20px;
  margin: 0;
  text-align: center;
}

@media (min-width: $tablet-width) {
  .page__intro {
    width: 520px;
    margin: 0 auto;
    padding: 30px 10px 35px;

    &::after {
      display: none;
    }
  }
}

@media (min-width: $desktop-width) {
  .page__intro {
    padding: 55px 10px 30px;
  }
}

.page--main {
  .page__intro {
    @include text-label;

    &::after {
      content: "";
      position: absolute;
      bottom: -19px;
      left: 0;
      right: 0;
      z-index: 100;
      border-style: solid;
      border-width: 19px 160px 0 160px;
      border-color: #ffffff transparent transparent transparent;
    }
  }
}

.page__heading {
  margin: 0 auto;
  padding-bottom: 25px;

  @include text-heading;
  color: $text-heading-color;
}

@media (min-width: $tablet-width) {
  .page__heading {
    padding-bottom: 31px;
    font-size: 30px;
    line-height: 26px;
  }
}

@media (min-width: $tablet-width) {
  .page--main {
    .page__heading {
      @include text-heading-tablet;
    }
  }
}

.page__subheading {
  margin: 0;
  padding-bottom: 5px;
}
