.panel {
  width: 280px;

  @media (min-width: $tablet-width) {
    width: 100%;
  }
}

.panel__elements {
  height: 45px;
  padding: 20px 20px;
  box-sizing: border-box;
  background-color: rgba(0, 0, 0, 0.6);

  @media (min-width: $tablet-width) {
    width: 648px;
    padding: 45px 160px 45px 90px;
  }

  @media (min-width: $desktop-width) {
    width: 800px;
  }
}

.panel__toggle {
  left: 0;
  top: 0;
  margin-top: -6px;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: $color-background;
  cursor: pointer;
}

.panel__scale {
  width: 100%;
  height: 3px;
  background-color: #858585;
  cursor: pointer;
}

.panel__wrap {
  position: relative;
  display: flex;
  width: 100%;
  justify-content: space-between;
  height: 65px;
  padding: 0 23px;
  margin: 0 auto;
  box-sizing: border-box;
  align-items: center;
  background: #f2f2f2;

  @media (min-width: $tablet-width) {
    position: absolute;
    top: 0;
    left: 0;
    height: 95px;
    padding: 0 35px;
    margin: 0 auto;
    background: inherit;
  }
}

.panel__button {
  background: inherit;
  border: 0;
  outline: none;
  color: #5c6870;
  cursor: pointer;

  &:hover,
  &:focus {
    color: #333333;
  }

  &:active {
    opacity: 0.3;
  }
}

@media (min-width: $tablet-width) {
  .panel__button {
    color: #ffffff;

    &:hover,
    &:focus {
      color: #c2c2c2;
    }

    &:active {
      color: #949494;
    }
  }
}

.panel__button--replay,
.panel__button--subtitles {
  padding: 0;
}

.panel__button--subtitles {
  margin-left: 70px;

  @media (min-width: $tablet-width) {
    margin-left: 430px;
  }

  @media (min-width: $desktop-width) {
    margin-left: 600px;
  }
}
