.photo-list {
  @include list-reset;
  border-top: 1px solid $color-secondary-active;

  @media (min-width: $tablet-width) {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding: 32px 0 25px;
    border-top: none;
  }
}

.photo-list__item {
  padding: 20px 20px 0;
  border-bottom: 1px solid $color-secondary-active;

  @media (min-width: $tablet-width) {
    padding: 0;
    border-bottom: none;
  }
}

.photo-list__figure {
  position: relative;
  margin: 0;
}

.photo-list__img {
  display: block;

  @media (min-width: $tablet-width) {
    width: 324px;
    height: 265px;
  }

  @media (min-width: $desktop-width) {
    width: 400px;
  }
}

@media (min-width: $tablet-width) {
  .photo-list__img--first {
    width: 648px;
    height: 400px;

    @media (min-width: $desktop-width) {
      width: 1200px;
    }
  }
}

.photo-list__figcaption {
  margin: 0;
  padding: 15px 0;
  box-sizing: border-box;

  @media (min-width: $tablet-width) {
    display: flex;
    justify-content: space-between;
    padding: 10px 20px;
    background-color: #f2f2f2;
  }
}

@media (min-width: $tablet-width) {
  .photo-list__figcaption--dark {
    background-color: #eaeaea;
  }
}

@media (min-width: $desktop-width) {
  .photo-list__figcaption {
    position: absolute;
    bottom: 0;
    width: 100%;
    padding: 10px 20px;
    background-color: rgba(0, 0, 0, 0.3);
  }
}

.photo-list__heading {
  margin: 0;
  padding-bottom: 5px;

  @include text-content;
  color: $text-heading-color;
  font-weight: bold;

  @media (min-width: $desktop-width) {
    color: $text-secondary-color;
  }
}

.photo-list__author {
  margin: 0;
  padding-bottom: 5px;

  @include text-content;
  text-transform: none;

  @media (min-width: $desktop-width) {
    color: $text-secondary-color;
  }
}
