.popup-failure {
  position: fixed;
  z-index: 9999;
  top: 60%;
  left: 0;
  right: 0;
  padding: 40px 55px 35px 55px;
  background-color: $text-secondary-color;


  @media (min-width: $tablet-width) {
    width: 400px;
  }
}

.popup-failure--closed {
  display: none;
}

.popup-failure--opened .popup-failure {
  display: block;
}

@media (min-width: $tablet-width) {
  .popup-failure__heading {
    padding: 0 45px 20px 45px;
  }
}

@media (min-width: $tablet-width) {
  .popup__button-wrap {
    padding: 45px 90px;
  }
}

.popup-failure__button {
  display: block;
  padding: 16px 75px;
  margin: 0 auto;

  @include text-heading;
}

@media (min-width: $tablet-width) {
  .popup-failure__button {
    padding: 15px 120px;

    @include text-heading-tablet;

    color: $text-secondary-color;
  }
}
