.popup-sucess {
  position: fixed;
  top: 50%;
  left: 0;
  right: 0;
  padding: 40px 0 0;
  background-color: $text-secondary-color;

  @media (min-width: $tablet-width) {
    width: 645px;
  }
}

.popup-sucess--closed {
  display: none;
}

.popup--sucess--opened .popup-sucess {
  display: block;
}

.popup-sucess__info {
  padding: 0 50px 30px;
}

.popup-sucess__wrap {
  padding: 20px;
  background-color: $color-secondary;

  @media (min-width: $tablet-width) {
    padding: 45px;
  }
}

.popup-sucess__button {
  display: block;
  padding: 17px 70px;
  margin: 0 auto;

  @include text-heading;

  @media (min-width: $tablet-width) {
    padding: 17px 140px;
  }
}
