// чтото пошло не так мобилка
.popup-failure {
  padding: 40px 55px 35px 55px;
}

@media (min-width: $tablet-width) {
  .popup-failure {
    width: 400px;
    padding: 55px 45px 50px 45px;
  }
}

.popup-failure--closed {
  display: none;
}

.popup-failure--opened {
  display: block;
}

@media (min-width: $tablet-width) {
  .popup-failure__heading {
    padding: 0 45px 20px 45px;
  }
}

@media (min-width: $tablet-width) {
  .popup__button-wrap {
    padding: 45px 90px;
  }
}

.popup-failure__button {
  display: block;
  padding: 17px 80px;
  margin: 0 auto;

  @include text-heading;
}

@media (min-width: $tablet-width) {
  .popup__button {
    padding: 15px 120px;

    @include text-heading-tablet;

    color: $text-secondary-color;
  }
}
