.site-list {
  display: block;

  @include list-reset;
  background: $color-main;
  align-items: center;

  @media (min-width: $tablet-width) {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-around;
    min-height: 56px;
    background: $color-background;
    border: none;
  }
}

.site-list__item {
  padding: 8px 10px;
  border-bottom: 1px solid #678fa8;
  border-top: 1px solid #9ac2db;

  &:first-child {
    border-top: none;
  }

  &:last-child {
    border-bottom: none;
  }

  &:hover {
    background-color: $color-main-hover;
  }

  &:active {
    background-color: $color-main-active;
  }
}


@media (min-width: $tablet-width) {
  .site-list__item {
    max-width: 153px;
    border: 0 none;


    &:hover {
      background-color: $color-background;
    }

    &:active {
      background-color: $color-background;
    }

    &:nth-child(2) {
      box-sizing: border-box;
      margin-right: 76px;
    }

    &:nth-child(3) {
      margin-left: 76px;
      box-sizing: border-box;
    }
  }
}

@media (min-width: $desktop-width) {
  .site-list__item {
    max-width: 239px;

    &:nth-child(2) {
      margin-right: 122px;
    }

    &:nth-child(3) {
      margin-left: 122px;
    }
  }
}

.site-list__link {
  @include text-nav-menu;

  @media (min-width: $tablet-width) {
    @include text-label;
    color: $text-heading-color;
    font-weight: bold;

    &:hover {
      color: $color-main;
    }

    &:active {
      color: #000000;
      opacity: 0.3;
    }
  }
}

.site-list__item:active .site-list__link {
  color: #88b6d1;
}

@media (min-width: $tablet-width) {
  .site-list__item--active .site-list__link {
    color: #766357;

    &:hover {
      color: #604e43;
    }

    &:active {
      opacity: 0.3;
    }
  }
}
