.social-btn {
  display: flex;
  justify-content: space-between;
  width: 150px;

  @include list-reset;
  margin-top: 35px;

  @media (min-width: $tablet-width) {
    margin: 0;
  }
}

.social-btn__link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 46px;
  height: 48px;
  background: $color-main;
  color: $text-secondary-color;
}

.social-btn__link:hover {
  background-color: $color-main-hover;
}

.social-btn__link:active {
  background-color: $color-main-active;
  color: #88b6d1;
}
