.social-btn {
  display: flex;
  justify-content: space-between;
  width: 150px;

  @include list-reset;
}

.social-btn__link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 45px;
  height: 45px;
  background: $color-main;
  color: $text-secondary-color;
}

.social-btn__link:hover {
  background-color: $color-main-hover;
}

.social-btn__link:active {
  background-color: $color-main-active;
  color: #88b6d1;
}
