body {
  margin: 0;
  padding: 0;
  font-family: "PT Sans", "Arial", sans-serif;
  text-transform: uppercase;
  color: $text-primary-color;
  background-color: $color-secondary;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}
